@font-face {
    font-family: 'Intro';
    src: url('../fonts/intro.woff2') format('woff2'),
        url('../fonts/intro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    background: url(../pics/background-pic.png) no-repeat right;

}

a {
    text-decoration: none;
}

.header {
    display: grid;
    grid-template-columns: 1fr 115px;
    grid-template-rows: 38px;
    align-items: center;
    padding: 49px 74px 76px 76px;
    margin-bottom: 12px;
}

.header__link-logo {
    grid-column: 1/2;
    grid-row: 1/1;
}

.header__link-shop_intro {
    grid-column: 2/3;
    grid-row: 1/1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #5222D0;
    border-radius: 100px;
    padding: 15px;
    font-size: 13px;
    color: #FFFFFF;
    border: none;
}

.header__link-shop_intro,
.article__tittle_intro,
.article__button_intro {
    font-family: 'Intro';
    font-style: normal;
    font-weight: 400;
}

.header__link-img {
    height: 1em;
    margin-left: 5px;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 126px 146px;
}

.article__tittle_intro {
    max-width: 542px;
    margin-bottom: 0;
    font-size: 60px;
    line-height: 120%;
}

.article__text_roboto,
.list__link_roboto {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
}

.article__text_roboto {
    max-width: 487px;
    font-size: 20px;
    line-height: 160%;
}

.article__button_intro {
    display: flex;
    align-items: center;
    gap: 16px;
    background: #5222D0;
    border-radius: 100px;
    font-size: 35px;
    line-height: 35px;
    color: #FFFFFF;
    padding: 28px 32px 21px 33px;
}

.footer {
    margin: 0 0 80px 126px;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 34px;
}

.list__link_roboto {}