@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
$Rhodium: 'Rhodium Libre', serif;
$Pen: 'Nanum Pen Script', cursive;
$Gothic: 'Nanum Gothic', sans-serif;