<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../template/normalize.css">
    <link rel="stylesheet" href="style.css">
    <title>Becca Beauty Salon</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="../pics/logo.png">
    <link
        href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&family=Montserrat:wght@700&family=Poppins:wght@500&family=Quintessential&display=swap"
        rel="stylesheet"
     >
</head>
<body>
    <header>
        <object data="../pics/logo.svg" type="image/svg+xml">
            <img src="../pics/logo.png" alt="beauty salon logo">
        </object>
        <h1><span class="yellow">Becca</span> Beauty Salon</h1>
        <nav id="menu">
            <a class="active" href="#">HOME</a>
            <a href="#">ABOUT</a>
            <a href="#">BLOGS</a>
            <a href="#">FAQs</a>
            <a href="#">GALLERY</a>
            <a href="#">CONTACTS</a>
        </nav>
    </header>
    <div id="contain">
        <aside>
            <img src="../pics/facebook.png" alt="facebook">
            <img src="../pics/insta.png" alt="instagram">
            <img src="../pics/twi.png" alt="twitter">
        </aside>
        <main>
            <div id="text">
                <p class="glam">
                    YOUR GLAM FANTASY STARTS HERE
                </p>
                <p class="lorem">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididuntut labore et dolore magna aliqua.
                </p>
                <button class="app">MAKE APPOINTMENT</button>
            </div>
            <div id="pichick">
                <img src="../pics/girl.png" alt="girl from template" height="747">
            </div>
        </main>
    </div>
</body>
</html>
